<ion-view title="Details" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="details-list-item-container10">
      <ion-list id="details-list14">
        <ion-item class="item-icon-left" id="details-list-item18">
          <i class="icon ion-android-star"></i>প্রোফাইলে ৬</ion-item>
      </ion-list>
      <div id="details-markdown12" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
          desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <ion-list id="details-list11">
      <ion-item class="item-icon-left" id="details-list-item17">
        <i class="icon ion-android-person"></i>রাই, ০১-০২-২০১৭</ion-item>
    </ion-list>
  </ion-content>
</ion-view>