<ion-view title="আমার প্রিয় তালিকা" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="page2-list-item-container7">
      <ion-list id="page2-list8">
        <ion-item class="item-icon-left" id="page2-list-item8" ui-sref="tabsController.details">
          <i class="icon ion-android-star"></i>কবিতা ১</ion-item>
      </ion-list>
      <div id="page2-markdown8" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <em>Lorem Ipsum</em> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book...</p>
      </div>
    </div>
    <div class="item item-body" id="page2-list-item-container8">
      <ion-list id="page2-list9">
        <ion-item class="item-icon-left" id="page2-list-item9" ui-sref="tabsController.details">
          <i class="icon ion-android-star"></i>কবিতা ২</ion-item>
      </ion-list>
      <div id="page2-markdown9" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <em>Lorem Ipsum</em> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book...</p>
      </div>
    </div>
    <div class="item item-body" id="page2-list-item-container9">
      <ion-list id="page2-list10">
        <ion-item class="item-icon-left" id="page2-list-item10" ui-sref="tabsController.details">
          <i class="icon ion-android-star"></i>কবিতা ৩</ion-item>
      </ion-list>
      <div id="page2-markdown10" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <em>Lorem Ipsum</em> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book...</p>
      </div>
    </div>
  </ion-content>
</ion-view>