<ion-view title="নতুন কবিতা যোগ" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="page3-form1" class="list">
      <label class="item item-input item-floating-label" id="page3-input2" name="name">
        <span class="input-label">কবিতার নাম</span>
        <input type="text" placeholder="কবিতার নাম">
      </label>
      <label class="item item-input" id="page3-textarea1">
        <span class="input-label">আমার কবিতা...</span><textarea placeholder="আমার কবিতা..."></textarea></label>
    </form>
    <button id="page3-button1" class="button button-positive  button-block button-clear">প্রকাশ করা!</button>
  </ion-content>
</ion-view>